<div class="grid p-fluid">
    <div class="col-12 md:col-12">
        <div class="card card-w-title">
            <h5>Listado de Clinicas</h5>
            <p-panelMenu [model]="panelMenuItems"></p-panelMenu>
        </div>
    </div>
    <p-toast key="tst"></p-toast>

    <p-dialog header="Crear Cita" [(visible)]="display" [modal]="true" [closable]="true" [style]="{width: '50vw'}"
              [contentStyle]="{'overflow': 'visible'}">
        <div class="p-fluid">
            <div class="card p-fluid">
                <div class="field">
                    <label for="fecha_hora">Fecha</label>
                    <p-calendar id="fecha_hora" [(ngModel)]="appointment.fecha_hora" [showTime]="true"
                                [hourFormat]="24"></p-calendar>
                </div>
                <div class="field">
                    <label for="estado">Usuario</label>
                    <p-dropdown
                            id="usuario"
                            [(ngModel)]="appointment.usuario_id"
                            [options]="users"
                            optionValue="id_usuario"
                            placeholder="Seleccione un paciente"
                            optionLabel="nombre">
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="estado">Estado</label>
                    <p-dropdown id="estado" [(ngModel)]="appointment.estado" [options]="estadoOptions"
                                optionValue="value" optionLabel="label"></p-dropdown>
                </div>
            </div>
            <p-footer class="p-field">
                <button type="button" pButton label="Crear" icon="pi pi-check" (click)="submitAppointment()"></button>
            </p-footer>
        </div>
    </p-dialog>


    <p-dialog header="Realizar consulta" [(visible)]="modalConsulta" [modal]="true" [closable]="true"
              [style]="{width: '50vw'}" [contentStyle]="{'overflow': 'visible'}">
        <div class="p-fluid">
            <div class="card p-fluid">
                <div class="field">
                    <label for="fecha_hora">Fecha</label>
                    <p-calendar id="fecha_hora_consulta" [(ngModel)]="newConsulta.fecha_hora" [showTime]="true"
                                [hourFormat]="24"></p-calendar>
                </div>
                <div class="field">
                    <label for="sintomas">Síntomas</label>
                    <p-multiSelect
                            id="sintomas"
                            [(ngModel)]="newConsulta.sintomas"
                            [options]="sintomasOptions"
                            optionLabel="descripcion"
                            display="chip">
                    </p-multiSelect>
                </div>
                <div class="field">
                    <label for="archivo">Subir Archivo</label>
                    <p-fileUpload #fileUpload id="archivo" mode="basic" name="demo[]" accept=".pdf"
                                  [maxFileSize]="10000000"></p-fileUpload>
                    <div class="flex flex-wrap gap-2 m-2">
                        <button pButton pRipple type="button" label="Eliminar Archivo"
                                class="p-button-rounded p-button-danger" (click)="deleteFile()"></button>
                    </div>
                </div>
            </div>
            <p-footer class="p-field">
                <button [loading]="isLoading" type="button" pButton label="Crear" icon="pi pi-check"
                        (click)="submitConsultation()"
                ></button>
            </p-footer>
        </div>
    </p-dialog>

    <p-dialog *ngIf="consulta && resultado" header="Detalla de la consulta" [(visible)]="modalResultado" [modal]="true"
              [closable]="true" [style]="{width: '100vw', height: '100vh'}" [contentStyle]="{'overflow': 'auto'}">
        <div class="p-fluid">
            <div class="card p-fluid">
                <p-divider layout="horizontal" align="center">
                    <span class="p-tag">Paciente</span>
                </p-divider>
                <div>
                    <div>
                        <strong>Nombre: </strong> {{ consultationUser.nombre }}
                    </div>
                    <div>

                        <strong>Email: </strong> {{ consultationUser.email }}
                    </div>

                </div>
                <div>
                    <p-divider layout="horizontal" align="center">
                        <span class="p-tag">PreDiagnostico</span>
                    </p-divider>
                    <div *ngFor="let prediagnostico of resultado">
                        <p>{{ prediagnostico.prediagnostico }}</p>
                    </div>

                    <p-divider layout="horizontal" align="center">
                        <span class="p-tag">Resultados Examenes</span>
                    </p-divider>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6">
                            <div *ngFor="let resultadoExamenResultado of examen">
                                <div *ngFor="let resultadoResultadoExamentResultadoResultados of resultadoExamenResultado.resultado.Resultados">
                                    <p-divider layout="horizontal" align="center">
                                        <span class="p-tag">{{ resultadoResultadoExamentResultadoResultados.Examen }}</span>
                                    </p-divider>
                                    <p>
                                        <strong>
                                            Resultado: </strong> {{ resultadoResultadoExamentResultadoResultados.Resultado }}
                                    </p>
                                    <p>
                                        <strong>
                                            Unidades: </strong>{{ resultadoResultadoExamentResultadoResultados.Unidades }}
                                    </p>
                                    <p>
                                        <strong>
                                            ValoresReferencia: </strong> {{ resultadoResultadoExamentResultadoResultados.ValoresReferencia }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-grid">
                        <p-divider layout="horizontal" align="center">
                            <span class="p-tag">Observaciones medicas</span>
                        </p-divider>
                        <div class="p-col-12 p-md-6"
                             *ngIf="consulta?.consulta.descripcion !== 'undefined' && consulta?.consulta.descripcion !== null && consulta?.consulta.descripcion !== ''; else noRevisado">
                            <p><strong>Descripción:</strong> {{ consulta?.consulta.descripcion }}</p>
                        </div>
                        <ng-template #noRevisado>
                            <p>El médico aún no ha revisado el resultado de los exámenes.</p>
                        </ng-template>
                    </div>
                </div>


            </div>

            <p-footer class="p-field">
                <button type="button" pButton label="Cerrar" icon="pi pi-times" (click)="hideDialogConsulta()"></button>
            </p-footer>
        </div>
    </p-dialog>
    <p-dialog header="Ingresar observación" *ngIf="idConsulta" [(visible)]="modalObservacion" [modal]="true"
              [closable]="true" [style]="{width: '50vw'}" [contentStyle]="{'overflow': 'visible'}">
        <div class="p-fluid">
            <div class="card p-fluid">
                <div class="field">
                    <label for="observacion">Observacion</label>
                    <textarea id="observacion" rows="5" cols="30" [(ngModel)]="newConsulta.descripcion"
                              placeholder="Your Message" pInputTextarea></textarea>
                </div>
            </div>
            <p-footer class="p-field">
                <button type="button" pButton label="Crear" icon="pi pi-check" (click)="submitObservation()"></button>
            </p-footer>
        </div>
    </p-dialog>

</div>
