<div class="diagnostic-form">
    <div class="form-container">
        <h1>Bienvenido a dIAgnostic</h1>
        @if (user) {

            <p>Usuario: {{ user }}</p>
        }
        <textarea placeholder="Describa los detalles de sus síntomas"
                  [value]="labelSelectedSyntomps"
                  disabled="disabled"></textarea>
        <div>
            <p>Seleccione sus síntomas</p>
        </div>


        <p-multiSelect class="multi-select" [options]="syntomps$ | async" [(ngModel)]="selectedSyntomps"
                       placeholder="Seleccione sus síntomas"
                       optionLabel="label"
                       (onChange)="onSyntompsChange($event)"
                       display="comma">
        </p-multiSelect>
        <input type="file" (change)="onFileSelected($event)"/>
        <button pButton pRipple type="button" label="Consultar Diagnostico"
                [loading]="loading"
                (click)="sendInformation()"
        ></button>
    </div>
    <p-divider layout="vertical">
    </p-divider>
    <div class="semaphore-container">
        <h1>Semaforo de Enfermedades</h1>
        @for (disease of semaforo$ | async; track disease) {
            <div [class]="semaphoreColor[disease['color']]['class'] ?? ''">
                <h2>{{ disease["enfermedad"] }}</h2>
                <div class="alert">
                    <p>{{ semaphoreColor[disease["color"]]["msg"] ?? '' }}</p>
                </div>
                <div class="progress-bar-container">
                    <p>Personas Contagiadas</p>
                    <p-progressBar [value]="disease['cantidad'] ?? ''" [showValue]="true" unit=""
                                   [color]="semaphoreColor[disease['color']]['color'] ?? ''"></p-progressBar>
                </div>
            </div>
        }
    </div>
</div>
@if (prediagnosticResult) {
    <div>
        <p-dialog
                header="Resultados" [modal]="true" [(visible)]="visible">
            <h2>Prediagnostico</h2>
            <p class="prediagnostic-modal">{{ prediagnosticResult.prediagnostico }}</p>
            <h3>Recomendaciones</h3>
            <p class="prediagnostic-modal">{{ prediagnosticResult.recomendaciones }}</p>

            @if (prediagnosticResult.medicosCercanosRecomendados) {

                <div class="prediagnostic-modal">
                    <h3>Medicos Recomendados</h3>
                    @for (medico of prediagnosticResult.medicosCercanosRecomendados; track medico) {
                        <div class="medico-card">
                            <h4>{{ medico.medico.nombre }}</h4>
                            <p>{{ medico.medico.especialidad }}</p>
                            <p>{{ medico.medico.telefono }}</p>
                            <p>{{ medico.medico.institucion.nombre }} | {{ medico.medico.telefono }}</p>
                        </div>
                    }
                </div>
            }
            <div class="flex justify-content-end gap-2">
                <p-button label="Agendar Cita" (onClick)="onAcceptModal()" [disabled]="scheduleButton"
                />
                <p-button label="Cancelar" severity="secondary" (onClick)="visible = false"/>
            </div>

        </p-dialog>
    </div>

}

<p-toast key="tst"></p-toast>
